# Ignorar a virtual environment
venv/

# Ignorar arquivos de mídia e arquivos estáticos gerados
media/
staticfiles/

# Ignorar arquivos Python compilados e caches
*.pyc
__pycache__/

# Ignorar arquivos de configuração de ambiente sensíveis
#.env
