{% extends 'EscalaPoms/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/minhas_escalas.css' %}">
{% endblock %}

{% block title %}Minhas Escalas{% endblock %}

{% block content %}
<div class="minhas-escalas">
  <h1 class="title mb-4">Minhas Escalas</h1>

  <!-- Foto e dados do aluno -->


  <h2 class="h4 mb-3">Escalas Registradas</h2>
  <ul class="list-group mb-4">
    {% for escala in escalas %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong>Data:</strong><br>{{ escala.data|date:"d/m/Y" }}
          </div>
          <div class="col-md-2">
            <strong>PTH:</strong><br>{{ escala.pth }}
          </div>
          <div class="col-md-2">
            <strong>Sono:</strong><br>{{ escala.sono|default:"–" }}
          </div>
          <div class="col-md-2">
            <strong>Freq. Cardíaca:</strong><br>
            {{ escala.freq_cardiaca_media|default:"–" }} bpm
          </div>
          <div class="col-md-2">
            <strong>Vol. Treino:</strong><br>{{ escala.volume_treino|default:"–" }}
          </div>
          <div class="col-md-2">
            <strong>Observações:</strong><br>
            {{ escala.observacoes|default:"–" }}
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-2"><strong>Σ Tensão:</strong><br>{{ escala.soma_tensao }}</div>
          <div class="col-md-2"><strong>Σ Depressão:</strong><br>{{ escala.soma_depressao }}</div>
          <div class="col-md-2"><strong>Σ Hostilidade:</strong><br>{{ escala.soma_hostilidade }}</div>
          <div class="col-md-2"><strong>Σ Fadiga:</strong><br>{{ escala.soma_fadiga }}</div>
          <div class="col-md-2"><strong>Σ Confusão:</strong><br>{{ escala.soma_confusao }}</div>
          <div class="col-md-2"><strong>Σ Vigor:</strong><br>{{ escala.soma_vigor }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2"><strong>Σ Desajuste:</strong><br>{{ escala.soma_desajuste }}</div>
        </div>

        {% if escala.classificacao %}
          <div class="row mt-4">
            <div class="col-12"><strong>Níveis Emocionais:</strong></div>
          </div>
          <div class="row">
            <div class="col-md-2"><strong>Tensão:</strong><br>{{ escala.classificacao.nivel_tensao }}</div>
            <div class="col-md-2"><strong>Depressão:</strong><br>{{ escala.classificacao.nivel_depressao }}</div>
            <div class="col-md-2"><strong>Hostilidade:</strong><br>{{ escala.classificacao.nivel_hostilidade }}</div>
            <div class="col-md-2"><strong>Fadiga:</strong><br>{{ escala.classificacao.nivel_fadiga }}</div>
            <div class="col-md-2"><strong>Confusão:</strong><br>{{ escala.classificacao.nivel_confusao }}</div>
            <div class="col-md-2"><strong>Vigor:</strong><br>{{ escala.classificacao.nivel_vigor }}</div>
          </div>
          <div class="row mt-2">
            <div class="col-md-2"><strong>Desajuste:</strong><br>{{ escala.classificacao.nivel_desajuste }}</div>
          </div>
        {% else %}
          <div class="row mt-4">
            <div class="col-12 text-warning">
              Classificação emocional ainda não disponível.
            </div>
          </div>
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item vazio">Você ainda não registrou nenhuma escala.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'home' %}" class="btn btn-secondary">
    ← Voltar
  </a>
</div>
{% endblock %}
