{% extends 'EscalaPoms/base.html' %}
{% load static %}

{% block title %}Meus Alunos{% endblock %}

{% block content %}
  <h1>Meus Alunos</h1>

  <h2>Alunos</h2>
  <ul class="list-unstyled">
    {% for aluno in alunos %}
      <li class="mb-3">
        <strong>Nome:</strong> {{ aluno.nome }} – <strong>Email:</strong> {{ aluno.email }}<br>
        <a href="{% url 'historico_aluno' aluno.cpf %}" class="btn btn-sm btn-outline-primary mt-1">
          Ver Histórico
        </a>
      </li>
    {% empty %}
      <li>Nenhum aluno encontrado.</li>
    {% endfor %}
  </ul>
{% endblock %}
