{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperar Senha</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/esqueceu_senha.css' %}" />
</head>
<body>
  <section class="gradient-form d-flex align-items-center justify-content-center min-vh-100">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card border-0 shadow-lg rounded-4">
            <div class="card-body p-md-5">
              
              
              <div class="text-center mb-4">
                <h2 class="fw-bold display-6">Redefinir Senha</h2>
                <p>Informe seu CPF e e-mail para receber um código de verificação.</p>
              </div>

              <form method="post" action="{% url 'redefinir_senha' %}">
                {% csrf_token %}

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="cpf"
                    name="cpf"
                    class="form-control form-control-lg"
                    placeholder="Digite seu CPF"
                    maxlength="14"
                    required
                    value="{{ cpf }}"
                  />
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control form-control-lg"
                    placeholder="Digite seu e-mail"
                    required
                    value="{{ email }}"
                  />
                </div>

                <div class="text-center mb-5">
                  <button
                    type="submit"
                    class="btn btn-lg gradient-custom-2 w-100 mb-3"
                  >
                    Enviar Código
                  </button>
                  <a href="{% url 'login' %}" class="text-muted small d-block">
                    Voltar ao login
                  </a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>

  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
