/* static/css/cadastro.css */

/* Reset de fonte e corpo */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #dcf1e1;
}

/* Container flexível, scrollável e centralizado */
.gradient-form {
  background-color: #dcf1e1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 1rem 0;
}

/* Botão com cor sólida esportiva e efeito hover */
/* Botão com cor sólida esportiva e efeito hover */
.gradient-custom-2 {
  background-color: #57cc99;
  color: #fff;
  border-width: 2px;
  border-color: #57cc99;
  border-radius: .75rem;
  transition: transform .2s, filter .2s;
}
.gradient-custom-2:hover,
.gradient-custom-2:focus {
  transform: scale(1.08);
  filter: brightness(1.1);
  border-color: #57cc99;
  border-width: 2px;
  color: #57cc99;
  font-weight: 600;
}

.gradient-custom-3 {
  background-color: #fff;
  color: #57cc99;
  font-weight: 600;
  border: none;
  border-color: #57cc99;
  border-radius: .75rem;
  transition: transform .2s, filter .2s;
}
.gradient-custom-3:hover,
.gradient-custom-3:focus {
  transform: scale(1.08);
  filter: brightness(1.1);
  color: #38B880;
  font-weight: 600;
}


/* Card mais suave */
.card {
  border-radius: 1rem;
  /* evitando bordas coladas em xs */
  margin: 0 .5rem;
}

/* Sombra */
.shadow-lg {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15) !important;
}

/* Inputs arredondados */
.form-control-lg {
  border-radius: .5rem;
  padding: 1rem;
}

.link-termo {
  color: #57cc99; /* Altere para a cor desejada */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.link-termo:hover {
  text-decoration: none; /* Estilo opcional no hover */
  color: #38B880; /* Tom mais escuro no hover, opcional */
}


/* Ajuste de paddings responsivo */
@media (min-width: 768px) {
  .card-body {
    padding: 2rem 2.5rem;
    margin: 0 1.5rem;
  }
}
