/* colors.css */

/*
  Centralização das cores do projeto.
  Importe este arquivo antes dos demais CSS para habilitar as variáveis.
*/
:root {
  /* Gradiente de fundo geral */
  --bg-start:    #D8F3DC;
  --bg-end:      #B7E4C7;
  --bg-fundo:      #DCF1E1;
  --bg-gd:      #57CC99;

  /* Cores do card */
  --card-bg:     #FFFFFF;
  --label-color: #2D6A4F;
  --text-color:  #081C15;

  /* Gradiente do botão Salvar */
  --btn-start:   #74C69D;
  --btn-end:     #52B788;

  /* Sidebar */
  --sidebar-bg:         #1B4332;
  --sidebar-hover-bg:   rgba(7, 156, 94, 0.377);
  --sidebar-link-color: #FFFFFF;

  /* Main content texto */
  --main-text-color:    #2D6A4F;
}
