/* static/css/login.css */

/* Reset de fonte e corpo */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #dcf1e1;
}

.gradient-form {
  background-color: #dcf1e1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  /* impede a rolagem da página */
}

/* Botão com cor sólida esportiva e efeito hover */
.gradient-custom-2 {
  background-color: #57cc99;
  color: #fff;
  border-width: 2px;
  border-color: #57cc99;
  border-radius: .75rem;
  transition: transform .2s, filter .2s;
}
.gradient-custom-2:hover,
.gradient-custom-2:focus {
  transform: scale(1.08);
  filter: brightness(1.1);
  border-color: #57cc99;
  border-width: 2px;
  color: #57cc99;
  font-weight: 600;
}

/* Card mais suave */
.card {
  border-radius: 1rem;
}

.shadow-lg {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15) !important;
}

/* Inputs arredondados */
.form-control-lg {
  border-radius: .5rem;
  padding: 1rem;
}
